<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Claire's Web App @ HubSpot </h1>

  <p id="demo">
  	Having fun 
  </p>

  <button type="button" onclick="myFunction()">
    Try it
  </button>

</body>

</html>